# Node / Next.js
node_modules/
.next/
out/
.turbo/
.vercel/

# Env & logs
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Build artifacts
dist/
build/
coverage/

# Misc
*.local
*.swp
*.swo
*.orig
*.log

